* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
}
input {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}
 h1 {
  font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
}
output{
  padding: 1.5%;
  margin-top: 2%;
  margin-left: 1%;
  clear: both;
  font-size: 1.2em;
}
.header {
  background-color: #1aa3af;
  height: 177px;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
}
.main, .logo, .site_content, .footer {
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 880px;
  padding-bottom: 40px;
}
.logo h1, .logo h2 {
  font: normal 300% 'century gothic', arial, sans-serif;
  margin: 0;
}
.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
  padding: 15px 0 0 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.logo_text h2 {
  font-size: 1em;
  padding: 20px 10px 0 0;
  color: #bece26;
}
.button {
  float: left;
  background-color: #7268ad;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 1%;
  clear: both;
  font-size: 1.2em;
}
.button2 {
  background-color: #7268ad;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 1%;
  clear: both;
  font-size: 1.2em;
}
.site_content {
  width: 880px;
  overflow:hidden;
  margin: 20px auto 0 auto;
  background-color: white;
  min-height: calc(100vh - 100px);
}
.footer {
  width: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center;
  background-color: #1aa3af;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
}
.footer p {
  padding: 0 0 10px 0;
}